<h5 style="color:rgba(0, 0, 178, 0.6);">This code hidden warrnings</h5>

In [1]:
import warnings
warnings.filterwarnings('ignore')

<h5 style="color:rgba(0, 0, 178, 0.6);">Install librarys that we need</h5>

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("bmh")
from tensorflow import keras
from sklearn.cluster import KMeans
import random
import tensorflow as tf
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from Data_Prepear import data_prepear
from sklearn.linear_model import LinearRegression
tf.__version__

'2.17.0'

In [3]:
# read the orginal data from the csv file
df1 = pd.read_csv("well2.csv")
df1['date'] = pd.to_datetime(df1['date'], errors='coerce') #convert date column to datetime format
df1 = df1[(df1["dp_tubing"] > 100) & (df1["bhp"] > 200) & (df1["bht"] > 80)]
# =========================================
# create a dummy date time with freq = 1D to see which days we have no data
df = pd.DataFrame({
    'date': pd.date_range(start='2013-07-24', periods=1152, freq='D')
})
# =========================================
# Merge on the 'date' column, using 'left' join to keep all dates from df1
df = df.merge(df1, on='date', how='left')

df = df[[
    "date", "bhp", "bht",
    "dp_tubing", "AVG_CHOKE_SIZE_P",
    "QG"]]
df.set_index('date', inplace=True)
df['Time'] = np.arange(len(df.index))
df.dropna(inplace=True)
df.head()

,bhp,bht,dp_tubing,AVG_CHOKE_SIZE_P,QG,Time
date,,,,,,
2013-07-31,273.946931,105.551370,179.382345,2.540804,137705.269214,7
2013-08-03,277.797679,104.933215,181.302141,6.116182,141268.448264,10
2013-08-04,273.594368,105.439765,177.392876,9.951288,161227.000000,11
2013-08-05,272.298494,105.537800,176.786078,9.758748,160270.490000,12
2013-08-06,271.560953,105.584750,176.519376,9.882110,160951.300000,13

In [4]:
create_data = data_prepear(df, target_col ="QG")
X, y = create_data.creator()

In [5]:
# Split into trai (70 a (30%)
nrow = round(0.7*X.shape[0])
X_train = X.iloc[:nrow, :]
y_train = y[:nrow]
X_test = X.iloc[nrow:,:]
y_test = y[nrow:]

In [6]:
# X_train = X_train.values.reshape(X_train.shape[0],X_train.shape[1],1)
# X_test = X_test.values.reshape(X_test.shape[0],X_test.shape[1],1)
# print(X_train.shape)
# print(X_test.shape)

<h5 style="color:rgba(0, 0, 178, 0.6);">Create a function that build a dynamic model that can change the shape of the NN model with hyper parameters(hp) parameters</h5>

In [7]:
y_train.columns

Index(['y_step_1 QG', 'y_step_2 QG', 'y_step_3 QG', 'y_step_4 QG',
       'y_step_5 QG', 'y_step_6 QG', 'y_step_7 QG', 'y_step_8 QG',
       'y_step_9 QG', 'y_step_10 QG'],
      dtype='object')

In [13]:
ooel =odel.fit(X_train, QG"])

y_fit = pd.DataFrame(model.predict(X_train), index=X_train.index, columns=y.columns)
y_pred = pd.DataFrame(model.predict(X_test), index=X_test.index, columns=y.columns)

SyntaxError: unterminated string literal (detected at line 1) (583263141.py, line 1)